<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/shared', {page: '404'}) %>
  <body id="err-body">
    <div id="err-svg-container">
      <img src="./assets/not-found.svg" aria-hidden="true" width="160" />
    </div>
    <h2>404 - Page Not Found</h2>
    <p>
      Oops! The page you're looking for doesn't exist. It might have been moved
      or deleted.
    </p>
    <a href="/"><button id="back-home">Go Back</button></a>
  </body>
</html>
