<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/shared', {page: 'Home Page'}) %>
  <body>
    <header>
        <h1>File Details</h1>
        <a href="../storage?folders=All+Files">X</a>
    </header>
  </body>
</html>