<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/shared', {page: 'Home Page'}) %>
  <body>
    <%- include('./partials/header') %>
    <main id="home-page">
        <section id="action">
            <header>
                <img src="./assets/bolt.svg" aria-hidden="true" width="30">
                <h4>Simple & Secure Cloud Storage</h4>
            </header>
            <p>Store, Organize, and Share Your Files Effortlessly</p>
            <p>A lightweight cloud storage solution with folder-based organization, 
                personal storage limits, and a shared public account for collaborative work.</p>
            <div id="buttons">
                <a href="/"><button>Create Free Acount</button></a>
                <a href="/"><button>Access Shared Storage</button></a>
            </div>
            <p>No credit card required • 10MB free storage per account</p>
        </section>
        <!-- <section id="features">
            <header>
                <h4>Everything You Need</h4>
            </header>
            <p>Built with modern web technologies for a seamless experience</p>
        </section> -->
    </main>
  </body>
</html>
