<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/shared', {page: 'Signup Page'}) %>
  <body id="signup-page">
    <%- include('./partials/header', {page: 'Signup Page'}) %>
    <%- include('./partials/signup-form', {errors: []}) %>
  </body>
</html>
