<footer
  style="
    border-top: 1px solid #aaa;
    padding: 20px;
    color: black;
    text-align: center;
  "
>
  <p>&copy; 2025 SilverCloud</p>
  <nav>
    <a href="/" style="color: black; margin: 0 10px">Home</a>
    <a
      target="_blank"
      href="https://github.com/thedenisovan?tab=overview&from=2025-08-01&to=2025-08-12"
      style="color: black; margin: 0 10px"
      >GitHub</a
    >
    <a
      target="_blank"
      href="https://www.linkedin.com/in/dainis-dilevka-961a332b4/"
      style="color: black; margin: 0 10px"
      >LinkedIn</a
    >
  </nav>
  <p>Built with EJS, TypeScript, Node.js, Prisma & Passport.js</p>
</footer>
