<div id="header-container">
  <header id="main-header">
    <a href="/">
      <div id="left-header">
        <img src="./assets/cloud.svg" aria-hidden="true" width="40" id="logo"/>
        <h1 aria-label="Webpage title header" tabindex="0">SilverCloud</h1>
      </div>
    </a>
    <ul id="right-header">
      <% if (page === 'Home Page') { %>
        <li class="signin-li"><a href="/signin">Sign In</a></li>
        <li class="signup-li"><a href="/signup">Sign Up</a></li>
        <li class="shared-li">
          <a href="/shared"><button>Shared Account</button></a>
        </li>
      <% } else if (page === 'Signup Page') { %>
          <li class="signin-li"><a href="/signin">Sign In</a></li>
        <li class="shared-li">
          <a  href="/shared"><button>Shared Account</button></a>
        </li>
      <% } else if (page === 'Signin Page') { %>
          <li class="signup-li"><a href="/signup">Sign Up</a></li>
        <li class="shared-li">
          <a  href="/shared"><button>Shared Account</button></a>
        </li>
      <% } %> %>

    </ul>
  </header>
</div>
