<form
  class="hidden"
  id="new-folder-form"
  action="/storage"
  method="post"
  style="margin: 0rem 1rem"
>
  <label for="folder-name">New Folder Name:</label>
  <div>
    <input type="hidden" name="action" value="create" />
    <input
      id="folder-name"
      name="folderName"
      placeholder="Enter folder name"
      required
      type="text"
    />
    <button>Create</button>
    <button id="cancel-folder">Cancel</button>
  </div>
</form>
