<form class="hidden" id="new-folder-form" action="/storage" method="post">
  <label for="folder-name"></label>
  <input
    id="folder-name"
    name="folderName"
    placeholder="Enter folder name"
    required
    type="text"
  />
  <button>Create</button>
  <button id="cancel-folder">Cancel</button>
</form>
