<a>
  <form action="/" method="post">
    <input
      style="display: none"
      type="text"
      name="username"
      value="shared@account.com"
    />
    <input
      style="display: none"
      type="text"
      name="password"
      value="Shared123"
    />
    <button>Access Shared Storage</button>
  </form>
</a>
