:root {
  --blue-600: #155cfb;
  --blue-10: #0050fd;
  --blue-600-light: #155efbc5;
  --blue-600-lightest: oklch(93.4% 0.02822 251.541);
  --blue-100: #daeafe;
  --color-gray-50: #f5f5f5;
  --color-gray-200: oklch(96.744% 0.00143 285.225);

  --1: 0.5rem;
  --2: 1rem;
  --3: 1.4rem;
  --4: 2rem;
  --5: 2.5rem;
  --6: 3rem;
  --7: 3.5rem;

  --half: 50%;
  --200: 200px;

  --slow: 0.1s;
}

/* RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body,
html {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

/* === HEADER STYLING */

#header-container {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.985);
  border-bottom: solid var(--color-gray-200);
  padding: 0.5rem 0rem;
}

#main-header {
  width: 100%;
  padding: var(--2) var(--6);
  max-width: 1460px;
  margin: auto;

  justify-content: space-between;

  & h1 {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

#left-header {
  position: relative;

  & img {
    position: relative;
    top: 8px;
  }
}

#left-header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#left-header div h2 {
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--blue-600);
  height: 22px;
}

#left-header div h1 {
  height: 20px;
  font-weight: 300;
  font-size: 1.3rem;
  height: 22px;
}

#main-header,
#left-header,
#right-header {
  display: flex;
  align-items: center;
}

#right-header {
  list-style: none;
  gap: var(--4);

  & li {
    border-radius: var(--1);
    transition: var(--slow);
  }
}

#main-header a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

#right-header li:hover {
  background-color: var(--color-gray-200);
}

#right-header button {
  border: none;
  background-color: var(--blue-600);
  color: white;
  height: var(--6);
  border-radius: var(--1);
  transition: var(--slow);
  font-size: 1.3rem;
  padding: 0.4rem 1rem;
}

#right-header button:hover {
  background-color: #0a4fe2;
  cursor: pointer;
}

.signup-li,
.signin-li {
  height: var(--5);
  width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 300;
}

/* === HOME PAGE === */

#home-page {
  display: flex;
  flex-direction: column;
}

/* === ACTION SECTION */

#action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--4);
  background: linear-gradient(135deg, #eff6ff, #ffffff);
  padding: 6rem;
}

#action header {
  display: flex;
  align-items: center;
  gap: var(--1);

  background-color: var(--blue-600-lightest);
  padding: var(--1) var(--2);
  border-radius: var(--4);

  & h4 {
    color: var(--blue-10);
    font-weight: 500;
    font-size: var(--3);
  }
}

#action p:first-of-type {
  max-width: 300px;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
}

#action p:nth-of-type(2) {
  max-width: 650px;
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
}

#buttons {
  display: flex;
  gap: var(--3);
}

#buttons a button,
#cta-buttons button {
  width: fit-content;
  padding: var(--3) var(--4);
  border-radius: var(--1);
  border: none;
  font-weight: 500;
  cursor: pointer;
}

#buttons a:first-of-type button {
  background-color: var(--blue-600);
  border: 2px solid var(--blue-600);
  color: white;
  transition: var(--slow);
}

#buttons a:first-of-type button:hover {
  background-color: #0a4fe2;
}

#buttons a:last-of-type button:hover {
  background-color: #f5f5f5;
}

#buttons a:last-of-type button {
  background-color: #fff;
  border: 2px solid rgb(196, 196, 196);
  transition: var(--slow);
}

#action p:last-of-type {
  color: gray;
  font-size: 1.1rem;
  text-align: center;
}

/* === FEATURES SECTION */

#features {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--7);

  & header {
    text-align: center;
    padding-bottom: var(--7);

    & h4 {
      font-weight: 400;
      font-size: var(--4);
      padding-bottom: var(--1);
    }
  }
}

#feature-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--7);
  row-gap: var(--7);
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--2);

  & h6 {
    font-size: var(--3);
    font-weight: 400;
  }

  & p {
    max-width: 340px;
    font-size: 1.1rem;
    color: rgb(65, 65, 65);
  }
}

/* === CTA STYLING === */

#cta {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #fff, var(--color-gray-50));
}

#cta-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--4);

  border: 1px solid;
  width: clamp(500px, 62vw, 1050px);
  height: 280px;
  margin: 5rem;
  border-radius: var(--4);
  background: linear-gradient(90deg, var(--blue-600), var(--blue-600-light));
  color: white;

  box-shadow: 0 0 15px var(--color-gray-50);

  & h4 {
    font-size: var(--3);
    font-weight: 400;
  }

  & p {
    font-size: 1.3rem;
    text-align: center;
    padding: 0px;
  }
}

#cta-buttons a:first-of-type button {
  background-color: white;
  color: var(--blue-600);
  margin-right: var(--1);
}

#cta-buttons a:first-of-type button:hover {
  background-color: #f5f5f5;
}

#cta-buttons a:last-of-type button {
  background-color: var(--blue-600-light);
  color: white;
  border: 3px solid white;
}

#cta-buttons a:last-of-type button:hover {
  background-color: #0a4fe2;
}

/* === SIGN UP PAGE === */

#signup-page {
  background: #fff;
}

/* === FORM STYLING === */

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;

  background-color: #fff;
  min-width: 330px;
  max-width: 600px;
  padding: 0rem 2.4rem 0rem 1.5rem;

  & img {
    margin: auto;
  }

  & h4 {
    color: var(--blue-600);
    font-weight: 400;
    font-size: var(--3);
    text-align: center;
  }

  & p {
    text-align: center;
    font-size: var(--3);
    font-weight: 300;
  }

  & input {
    border: 1px solid gray;
    background-color: #fff;
    height: var(--6);
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.2rem;
  }

  & label {
    margin-top: var(--3);
    margin-bottom: 0.2rem;
    font-weight: 300;
    font-size: var(--3);
  }

  & .action-button {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: var(--blue-600);
    border: none;
    border-radius: 10px;
    height: 2.8rem;
    transition: all 0.1s;
  }
}

.name-container {
  display: flex;
  gap: 1rem;
}

.name-group {
  display: flex;
  flex-direction: column;

  & input {
    width: 100%;
  }
}

.error-container {
  color: #ac1818;
  border: 1px solid #ce1f1f;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ce1f1f13;
  margin-top: 1rem;

  & h4 {
    color: #ce1f1f;
  }
}

.call-to-action {
  text-align: center;
  margin: 1.8rem auto 0 auto;
  color: rgb(88, 88, 88);

  & a {
    text-decoration: none;
    color: var(--blue-600);
  }
}

.action-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.action-button:hover {
  background-color: var(--blue-600-light);
  cursor: pointer;
}

.action-link:hover {
  text-decoration: underline;
}

/* === ERROR STYLING === */

#err-body {
  background-color: var(--color-gray-50);

  & h2 {
    font-weight: 300;
  }

  & p {
    max-width: 500px;
    text-align: center;
    font-size: 1.2rem;
  }
}

#err-body,
#err-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#err-svg-container {
  background-color: var(--blue-100);
  width: var(--200);
  height: var(--200);
  border-radius: var(--half);
  padding: var(--4);
}

#back-home {
  border: none;
  background-color: var(--blue-600);
  color: white;

  border-radius: var(--1);
  height: var(--7);
  width: var(--200);
  transition: var(--slow);
  font-size: var(--3);
}

#back-home:hover {
  background-color: var(--blue-600-light);
  cursor: pointer;
}

#or-cont {
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    margin: 1rem;
    color: rgb(97, 97, 97);
  }

  & hr {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.233);
  }
}

#shared-anch {
  text-decoration: none;
  transition: var(--slow);
}

#shared-btns {
  background: linear-gradient(90deg, #16a34a, #0d9488);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 3px solid #16a34a66;
  border-radius: var(--1);
  color: white;
  height: var(--6);
  font-size: 1.1rem;
  transition: var(--slow);
  padding: 1.5rem 0px !important;
  /* margin-top: 1rem; */
}

#shared-btns:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #12873d, #0c857b);
}

/* SORTING SECTION OF THE DOCUMENT */
#select-form {
  width: clamp(200px, 80vw, 580px);
}

#select-form select {
  border-radius: 0.4rem;
  background-color: white;
  height: var(--6);
  width: 100% !important;
  color: rgb(88, 88, 88);

  cursor: pointer;
}

.hidden {
  display: none !important;
}

#storage-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: var(--2);
  gap: 0.6rem;
}

#new-folder:hover,
.inactive:hover {
  background-color: gray;
}

.active {
  background-color: white;
  box-shadow: 0 0 2px black;
}

#del-folder:hover {
  background-color: #9a0000;
}

#new-folder,
#del-folder {
  height: 2.6rem !important;
  width: 2.6rem !important;
}

#new-folder,
#view-container button {
  border: none;
  border-radius: 0.4rem;
  height: 2rem;
  width: 2rem;
  transition: var(--slow);
}

#del-folder {
  border: none;
  border-radius: 0.4rem;
  height: 2rem;
  width: 2rem;
  transition: var(--slow);
}

#new-folder img,
#view-container button img,
#del-folder,
#del-folder img {
  width: 2rem;
}

#view-container {
  display: flex;
  align-items: center;
  background-color: var(--color-gray-50);
  padding: 0.2rem;
  border-radius: 0.4rem;
  gap: 1px;
}

#upload-btn {
  background-color: var(--blue-600);
  color: white;
  border: none;
  padding: var(--1);
  border-radius: var(--1);
  transition: var(--slow);
}

#upload-btn:hover {
  background-color: var(--blue-10);
}

#new-folder-form {
  background-color: var(--blue-600-lightest);
  border: 1px solid rgb(162, 210, 255);
  padding: var(--2);
  margin: var(--1);
  border-radius: var(--1);
  display: flex;
  flex-direction: column;

  & input {
    width: 70%;
    background-color: #0050fd00;
    height: var(--5);
    border: 1px solid rgb(199, 199, 199);
    border-radius: var(--1);
  }

  & div {
    display: flex;
    gap: var(--1);
  }
}

#new-folder-form div button:first-of-type {
  background-color: var(--blue-600);
  color: white;
}

#new-folder-form div button {
  border-radius: var(--1);
  border: none;
}

/* MAIN CONTENT MAIN */

#storage-page {
  display: flex;
  flex-direction: column;
}

#main-main {
  padding: var(--2);
  flex: 1;

  & h2 {
    font-weight: 300;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  #home-page section {
    padding: var(--6) !important;
  }

  #index h1 {
    margin-top: var(--1);
  }

  #main-header,
  #header-container {
    max-width: 100vw !important;
    padding: 0.4rem 0.6rem !important;
    justify-content: space-between !important;

    & h2 {
      font-size: 16px !important;
    }
  }

  #logo {
    width: 40px;
  }
  h1 {
    font-size: 15px !important;
  }

  #right-header {
    gap: 0rem;

    & button {
      display: none;
    }
  }

  #right-header li a {
    font-size: 1rem !important;
  }

  .shared-li a button {
    padding: 0 !important;
    font-size: 0.6rem !important;
    height: 2rem !important;
    width: 80px !important;
  }

  #feature-cont {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: var(--7);
    row-gap: var(--7);
  }

  #cta {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  #feature-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--7);
    row-gap: var(--7);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1024px) {
  #feature-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--7);
    row-gap: var(--7);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1280px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1536px) {
}

.flex-col {
  display: flex;
  flex-direction: column;
}
