:root {
  --blue-600: #155cfb;
  --blue-10: #0050fd;
  --blue-600-light: #155efbc5;
  --blue-600-lightest: oklch(93.4% 0.02822 251.541);
  --blue-100: #daeafe;
  --color-gray-50: #f5f5f5;
  --color-gray-200: oklch(96.744% 0.00143 285.225);

  --1: 0.5rem;
  --2: 1rem;
  --3: 1.4rem;
  --4: 2rem;
  --5: 2.5rem;
  --6: 3rem;
  --7: 3.5rem;

  --half: 50%;
  --200: 200px;

  --slow: 0.1s;
}

body,
html {
  height: 100%;
  width: 100%;
}

/* === HEADER STYLING */

#header-container {
  position: sticky;
  top: 0;
  background-color: white;
}

#main-header {
  width: 100%;
  padding: var(--2) var(--6);
  border-bottom: solid var(--color-gray-200);

  justify-content: space-between;

  & h1 {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

#main-header,
#left-header,
#right-header {
  display: flex;
  align-items: center;
}

#right-header {
  list-style: none;
  gap: var(--4);

  & li {
    border-radius: var(--1);
    transition: var(--slow);
  }
}

#main-header a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

#right-header li:hover {
  background-color: var(--color-gray-200);
}

#right-header button {
  border: none;
  background-color: var(--blue-600);
  color: white;
  height: var(--6);
  border-radius: var(--1);
  transition: var(--slow);
  font-size: 1.3rem;
  padding: 0.4rem 1rem;
}

#right-header button:hover {
  background-color: #0a4fe2;
  cursor: pointer;
}

#right-header li:first-of-type,
#right-header li:nth-of-type(2) {
  height: var(--5);
  width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* === HOME PAGE === */

#home-page {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

/* === ACTION SECTION */

#action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--2);
  background: linear-gradient(135deg, #eff6ff, #ffffff);
  padding: var(--7);
}

#action header {
  display: flex;
  align-items: center;
  gap: var(--1);

  background-color: var(--blue-600-lightest);
  padding: var(--1) var(--2);
  border-radius: var(--4);

  & h4 {
    color: var(--blue-10);
    font-weight: 500;
    font-size: var(--3);
  }
}

#action p:first-of-type {
  max-width: 250px;
  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;
}

#action p:nth-of-type(2) {
  max-width: 650px;
  text-align: center;
  font-weight: 400;
}

#buttons {
  display: flex;
  gap: var(--3);
}

#buttons a button {
  width: fit-content;
  padding: var(--2) var(--3);
  border-radius: var(--1);
  border: none;
  font-weight: 500;
  cursor: pointer;
}

#buttons a:first-of-type button {
  background-color: var(--blue-600);
  border: 2px solid var(--blue-600);
  color: white;
  transition: var(--slow);
}

#buttons a:first-of-type button:hover {
  background-color: #0a4fe2;
}

#buttons a:last-of-type button:hover {
  background-color: #f5f5f5;
}

#buttons a:last-of-type button {
  background-color: #fff;
  border: 2px solid rgb(196, 196, 196);
  transition: var(--slow);
}

#action p:last-of-type {
  color: rgb(65, 65, 65);
}

/* === FEATURES SECTION */

#features {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--7);

  & header {
    text-align: center;
    padding-bottom: var(--7);

    & h4 {
      font-weight: 400;
      font-size: var(--4);
      padding-bottom: var(--1);
    }
  }
}

#feature-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--6);
  row-gap: var(--6);
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--2);

  & h6 {
    font-size: var(--3);
    font-weight: 400;
  }

  & p {
    max-width: 340px;
  }
}

/* === CTA STYLING === */

#cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cta-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--4);

  border: 1px solid;
  width: clamp(500px, 62vw, 1050px);
  height: 280px;
  margin: 5rem;
  border-radius: var(--4);
  background: linear-gradient(90deg, var(--blue-600), var(--blue-600-light));
  color: white;

  & h4 {
    font-size: var(--3);
    font-weight: 400;
  }

  & p {
    font-size: 1.3rem;
  }
}

#cta-buttons button {
  min-width: 120px;
  padding: var(--2) var(--3);
  border-radius: var(--2);
  font-size: var(--3);
  border: none;
  cursor: pointer;
  transition: var(--slow);
}

#cta-buttons a:first-of-type button {
  background-color: white;
  color: var(--blue-600);
  margin-right: var(--1);
}

#cta-buttons a:first-of-type button:hover {
  background-color: #f5f5f5;
}

#cta-buttons a:last-of-type button {
  background-color: var(--blue-600-light);
  color: white;
  border: 3px solid white;
}

#cta-buttons a:last-of-type button:hover {
  background-color: #0a4fe2;
}

/* === SIGN UP PAGE === */

#signup-page {
  background: linear-gradient(135deg, #eff6ff, #ffffff);
}

/* === FORM STYLING === */

.form {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 2rem;
  padding-top: 3rem;

  background-color: #fff;
  border-radius: 15px;
  border: 1px solid rgb(202, 199, 199);
  min-width: 300px;
  max-width: 500px;

  & h4 {
    color: var(--blue-600);
    font-weight: 300;
    font-size: 1.3rem;
  }

  & input {
    border: none;
    background-color: var(--color-gray-200);
    height: 2.3rem;
    border-radius: 10px;
    padding-left: 1rem;
  }

  & label {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }

  & .action-button {
    margin-top: 2rem;
    color: white;
    background-color: #030213;
    border: none;
    border-radius: 10px;
    height: 2.3rem;
    transition: all 0.1s;
  }
}

.name-container {
  display: flex;
  gap: 1rem;
}

.name-group {
  display: flex;
  flex-direction: column;

  & input {
    width: 100%;
  }
}

.error-container {
  color: #ac1818;
  border: 1px solid #ce1f1f;
  padding: 1rem;
  border-radius: 10px;
  background-color: #ce1f1f13;
  margin-top: 1rem;

  & h4 {
    color: #ce1f1f;
  }
}

.call-to-action {
  text-align: center;
  margin: 1.8rem auto 0 auto;
  color: rgb(88, 88, 88);

  & a {
    text-decoration: none;
    color: var(--indigo-dark);
  }
}

.action-container {
  display: flex;
  flex-direction: column;
}

.action-button:hover {
  background-color: #030213d3;
  cursor: pointer;
}

.action-link:hover {
  text-decoration: underline;
}

/* === ERROR STYLING === */

#err-body {
  background-color: var(--color-gray-50);

  & h2 {
    font-weight: 300;
  }

  & p {
    max-width: 500px;
    text-align: center;
    font-size: 1.2rem;
  }
}

#err-body,
#err-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#err-svg-container {
  background-color: var(--blue-100);
  width: var(--200);
  height: var(--200);
  border-radius: var(--half);
  padding: var(--4);
}

#back-home {
  border: none;
  background-color: var(--blue-600);
  color: white;

  border-radius: var(--1);
  height: var(--7);
  width: var(--200);
  transition: var(--slow);
  font-size: var(--3);
}

#back-home:hover {
  background-color: var(--blue-600-light);
  cursor: pointer;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
