:root {
  --blue-600: #155cfb;
  --blue-600-light: #155efbc5;
  --blue-100: #daeafe;
  --color-gray-50: oklch(0.985 0.002 247.839);

  --1: 0.5rem;
  --2: 1rem;
  --3: 1.4rem;
  --4: 2rem;
  --5: 2.5rem;
  --6: 3rem;
  --7: 3.5rem;

  --half: 50%;
  --200: 200px;

  --slow: 0.1s;
}

body,
html {
  height: 100%;
  width: 100%;
}

#err-body {
  background-color: var(--color-gray-50);

  & h2 {
    font-weight: 300;
  }

  & p {
    max-width: 500px;
    text-align: center;
    font-size: 1.2rem;
  }
}

#err-body,
#err-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#err-svg-container {
  background-color: var(--blue-100);
  width: var(--200);
  height: var(--200);
  border-radius: var(--half);
  padding: var(--4);
}

#back-home {
  border: none;
  background-color: var(--blue-600);
  color: white;

  border-radius: var(--1);
  height: var(--7);
  width: var(--200);
  transition: var(--slow);
  font-size: var(--3);
}

#back-home:hover {
  background-color: var(--blue-600-light);
  cursor: pointer;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
