:root {
  --blue-600: #155cfb;
  --blue-10: #0050fd;
  --blue-600-light: #155efbc5;
  --blue-600-lightest: oklch(93.4% 0.02822 251.541);
  --blue-100: #daeafe;
  --color-gray-50: oklch(0.985 0.002 247.839);
  --color-gray-200: oklch(96.744% 0.00143 285.225);

  --1: 0.5rem;
  --2: 1rem;
  --3: 1.4rem;
  --4: 2rem;
  --5: 2.5rem;
  --6: 3rem;
  --7: 3.5rem;

  --half: 50%;
  --200: 200px;

  --slow: 0.1s;
}

body,
html {
  height: 100%;
  width: 100%;
}

/* === HEADER STYLING */

#main-header {
  width: 100%;
  padding: var(--2) var(--6);
  border-bottom: solid var(--color-gray-200);

  justify-content: space-between;

  & h1 {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

#main-header,
#left-header,
#right-header {
  display: flex;
  align-items: center;
}

#right-header {
  list-style: none;
  gap: var(--5);

  & li {
    border-radius: var(--1);
    transition: var(--slow);
  }
}

#main-header a {
  text-decoration: none;
  color: black;
}

#right-header li:hover {
  background-color: var(--color-gray-200);
}

#right-header button {
  border: none;
  background-color: var(--blue-600);
  color: white;
  height: var(--5);
  border-radius: var(--1);
  transition: var(--slow);
}

#right-header button:hover {
  background-color: #0a4fe2;
  cursor: pointer;
}

#right-header li:first-of-type,
#right-header li:nth-of-type(2) {
  height: var(--5);
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* === HOME PAGE === */

#home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(90deg, #eff6ff, #ffffff);
}

/* === ACTION SECTION */

#action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--2);

  padding-top: var(--5);
}

#action header {
  display: flex;
  align-items: center;
  gap: var(--1);

  background-color: var(--blue-600-lightest);
  padding: var(--1) var(--2);
  border-radius: var(--4);

  & h4 {
    color: var(--blue-10);
    font-weight: 500;
    font-size: var(--3);
  }
}

#action p:first-of-type {
  max-width: 250px;
  text-align: center;
  font-weight: 500;
}

#action p:nth-of-type(2) {
  max-width: 650px;
  text-align: center;
  font-weight: 400;
}

#buttons {
  display: flex;
  gap: var(--3);
}

#buttons a button {
  width: fit-content;
  padding: var(--2) var(--3);
  border-radius: var(--1);
  border: none;
  font-weight: 500;
  cursor: pointer;
}

#buttons a:first-of-type button {
  background-color: var(--blue-600);
  border: 2px solid var(--blue-600);
  color: white;
  transition: var(--slow);
}

#buttons a:first-of-type button:hover {
  background-color: #0a4fe2;
}

#buttons a:last-of-type button:hover {
  background-color: #ebebeb;
}

#buttons a:last-of-type button {
  background-color: #fff;
  border: 2px solid rgb(196, 196, 196);
  transition: var(--slow);
}

/* === ERROR STYLING === */

#err-body {
  background-color: var(--color-gray-50);

  & h2 {
    font-weight: 300;
  }

  & p {
    max-width: 500px;
    text-align: center;
    font-size: 1.2rem;
  }
}

#err-body,
#err-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#err-svg-container {
  background-color: var(--blue-100);
  width: var(--200);
  height: var(--200);
  border-radius: var(--half);
  padding: var(--4);
}

#back-home {
  border: none;
  background-color: var(--blue-600);
  color: white;

  border-radius: var(--1);
  height: var(--7);
  width: var(--200);
  transition: var(--slow);
  font-size: var(--3);
}

#back-home:hover {
  background-color: var(--blue-600-light);
  cursor: pointer;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
